body{
    margin: 0;
    background-color: azure;
}
.top-bar{
    border: 4px solid rgb(0, 0, 0);
    height: 6%;
    background-color: rgb(255, 255, 255);
    color: rgb(200,200,200);
    font-size: 100%;
    position: relative;
    top: 0px;
    color: black;
}
.title{
    margin:0px;
    position: relative;
    top:30%;
    left: 0.4%
}
.inner-body{
    position: relative;
    height: 98%;
    width: 98%;
    left: 1%;
    top: 0%;
}
.inner-body_text_home{
    position:relative;
    top:-1%;
    font-size:250%;
    margin:0;
    
}
.inner-body-home-paratext{
    margin:1%;
    position: relative;
    left:1%;
    top:5%;
    font-size: 130%;
}
.inner-body-home-img{
    margin:1%;
    position: relative;
    left:1%;
    top:5%;
    width: 10%;
    border: 0.5px solid black;
}
.inner-body-home-languagelist{
    font-size: 130%;
    padding:0px;
    position:relative;
    left:2%;
}
.inner-body-home-listitem{
    padding:0px;
    position:relative;
    left: 2%;
    top: 0%;
}
.AboutMePage{
    position:relative;
    left: 93%;
    height: 60%;
    top:-45%;
    width: 6%;
}
.TutorialsPage{
    position:relative;
    left: 80%;
    height: 60%;
    top:-45%;
    width: 6%;
}